.list_body {
    max-width: 750px;
    margin: auto;
    padding: 5px;
}

.list_all {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    padding: 8px 18px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
}

.list_all:hover {
    background-color: #E42020;
    color: white;
}

.list_category_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px 30px 30px;
}

.list_category {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    padding: 8px 18px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px;
}

.list_category:hover {
    background-color: #E42020;
    color: white;
}

.list_location_txt {
    margin-left: 15px;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

.list_location_wrapper {
    margin-bottom: 25px;
}

.show_more {
    cursor: pointer;
    text-decoration : underline;
    font-weight: 500;
}