.list_body {
    max-width: 750px;
    margin: auto;
}

.list_all {
    border: 1px solid lightgrey;
    padding: 8px 18px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
}

.list_all:hover {
    background-color: lightgrey;
}

.list_category_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px 30px 30px;
}

.list_category {
    border: 1px solid lightgrey;
    padding: 8px 18px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px;
}

.list_category:hover {
    background-color: lightgrey;
}

.list_location_txt {
    margin-left: 15px;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

.list_location_wrapper {
    margin-bottom: 25px;
}