.mainContents_body {
    max-width: 800px;
    margin: auto;
}

.mainContents_subTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show_more {
    cursor: pointer;
    text-decoration : underline;
    font-weight: 500;
}